---
- name: Check unsupported parameters for user {{ account.name }}
  assert:
    that:
      - account.keys() | list | difference(_ansible_user_module_params) | difference(_our_params|union(['gid','system_group'])) | length < 1
    fail_msg: "Unsupported parameters: {{ account.keys() |
      list | difference(_ansible_user_module_params) | difference(_our_params) | join(', ') }}."
  ignore_errors: true


- name: Ensure no conflicting parameters for user {{ account.name }}
  assert:
    that: account.keys() | list | intersect(['ssh_config', 'ssh_config_template']) | length < 2
    fail_msg: "Define either 'ssh_config' or 'ssh_config_template' - not both."


# Provisioning tasks
- name: "Ensure group is available for user {{ account.name }}"
  group:
    name: "{{ account.group | default(account.name) }}"
    system: "{{ account.system_group | default(omit) }}"
    gid: "{{ account.gid | default(omit) }}"
  when: account.group is defined or account.gid is defined
  register: gr

- name: "Ensure account is present for user {{ account.name }}"
  user:
    append: "{{ account.append | default(users_user_append|default(omit)) }}"
    comment: "{{ account.comment | default(users_user_comment|default(omit)) }}"
    create_home: "{{ account.create_home | default(users_user_create_home|default(omit)) }}"
    expires: "{{ account.expires | default(users_user_expires|default(omit)) }}"
    force: "{{ account.force | default(users_user_force|default(omit)) }}"
    group: "{{ account.group | default(users_user_group|default(gr.gid | default(omit))) }}"
    groups: "{{ account.groups | default(users_user_groups|default(omit)) }}"
    hidden: "{{ account.hidden | default(users_user_hidden|default(omit)) }}"
    home: "{{ account.home | default(users_user_home|default(omit)) }}"
    local: "{{ account.local | default(users_user_local|default(omit)) }}"
    login_class: "{{ account.login_class | default(users_user_login_class|default(omit)) }}"
    move_home: "{{ account.move_home| default(users_user_move_home|default(omit)) }}"
    name: "{{ account.name }}"
    non_uniqe: "{{ account.non_unique | default(users_user_non_unique|default(omit)) }}"
    password: "{{ account.password | default(users_user_password|default(omit)) }}"
    password_lock: "{{ account.password_lock | default(users_user_password_lock|default(omit)) }}"
    profile: "{{ account.profile | default(users_user_profile|default(omit)) }}"
    remove: "{{ account.remove | default(users_user_remove|default(omit)) }}"
    role: "{{ account.role | default(users_user_role|default(omit)) }}"
    seuser: "{{ account.seuser | default(users_user_seuser|default(omit)) }}"
    shell: "{{ account.shell | default(users_user_shell|default(omit)) }}"
    skeleton: "{{ account.skeleton | default(users_user_skeleton|default(omit)) }}"
    state: present
    system: "{{ account.system_user | default(users_user_system|default(omit)) }}"
    uid: "{{ account.uid | default(users_user_uid|default(omit)) }}"
    update_password: "{{ account.update_password | default(users_user_update_password|default(omit)) }}"
  when: account.name is defined
  register: current_user

- name: "Ensure .ssh directory is available for user {{ account.name }}"
  file:
    path: "{{ current_user.home }}/.ssh"
    state: directory
    mode: '0700'
    owner: "{{ account.name }}"
    group: "{{ current_user.group }}"
  when:
    - account.keys() | list | intersect(_our_params) | length > 0
    - current_user.home is defined


- name: "Include custom parameters tasks for user {{ account.name }}"
  include_tasks: "{{ param }}.yml"
  loop: "{{ account.keys() | list | intersect(_our_params) }}"
  loop_control:
    loop_var: param
