---
- name: Check unsupported parameters for user {{ account.name }}
  assert:
    that:
      - "{{ account.keys() | list | difference(_ansible_user_module_params) | difference(_our_params) | length < 1 }}"
    fail_msg: "Unsupported parameters: {{ account.keys() |
      list | difference(_ansible_user_module_params) | difference(_our_params) | join(', ') }}."
  ignore_errors: true


- name: Ensure no conflicting parameters for user {{ account.name }}
  assert:
    that: "{{ account.keys() | list | intersect(['ssh_config', 'ssh_config_template']) | length < 2 }}"
    fail_msg: "Define either 'ssh_config' or 'ssh_config_template' - not both."


# Provisioning tasks
- name: "Ensure group is available for user {{ account.name }}"
  group:
    name: "{{ account.group }}"
    system: "{{ account.system_group | default(false) }}"
  when: account.group is defined


- name: "Ensure account is present for user {{ account.name }}"
  user:
    append: "{{ account.append | default(omit) }}"
    comment: "{{ account.comment | default(omit) }}"
    create_home: "{{ account.create_home | default(omit) }}"
    expires: "{{ account.expires | default(omit) }}"
    force: "{{ account.force | default(omit) }}"
    group: "{{ account.group | default(omit) }}"
    groups: "{{ account.groups | default(omit) }}"
    hidden: "{{ account.hidden | default(omit) }}"
    home: "{{ account.home | default(omit) }}"
    local: "{{ account.local | default(omit) }}"
    login_class: "{{ account.login_class | default(omit) }}"
    move_home: "{{ account.move_home| default(omit) }}"
    name: "{{ account.name }}"
    non_uniqe: "{{ account.non_unique | default(omit) }}"
    password: "{{ account.password | default(omit) }}"
    password_lock: "{{ account.password_lock | default(omit) }}"
    profile: "{{ account.profile | default(omit) }}"
    remove: "{{ account.remove | default(omit) }}"
    role: "{{ account.role | default(omit) }}"
    seuser: "{{ account.seuser | default(omit) }}"
    shell: "{{ account.shell | default(user_account_shell|default(omit)) }}"
    skeleton: "{{ account.skeleton | default(omit) }}"
    state: present
    system: "{{ account.system_user | default(omit) }}"
    uid: "{{ account.uid | default(omit) }}"
    update_password: "{{ account.update_password | default(omit) }}"
  when: account.name is defined
  register: current_user


- name: Fetching all group information
  getent:
    database: group


- name: "Establishing primary group for user {{ account.name }}"
  set_fact:
    current_primary_group: "{{ getent_group | dictsort | selectattr('1.1', 'equalto', current_user.group|string)|first|first }}"
  when: current_user.group is defined


- name: "Ensure .ssh directory is available for user {{ account.name }}"
  file:
    path: "{{ current_user.home }}/.ssh"
    state: directory
    mode: '0700'
    owner: "{{ account.name }}"
    group: "{{ current_primary_group }}"
  when:
    - account.keys() | list | intersect(_our_params) | length > 0
    - current_user.home is defined
    - current_primary_group is defined


- name: Include tasks for our custom parameters
  include_tasks: "{{ param }}.yml"
  with_items: "{{ account.keys() | list | intersect(_our_params) }}"
  loop_control:
    loop_var: param
