---
- name: Load disto specific vars
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"
    - "{{ ansible_os_family }}.yml"
    - main.yml
  tags: always

- name: Ensure required packages are available
  ansible.builtin.package:
    name: "{{ _packages }}"
  tags: packages

- name: Ensure user accounts are available
  ansible.builtin.include_tasks: account_enable.yml
  args:
    apply:
      tags:
        - accounts
  loop: "{{ user_accounts_enable }}"
  loop_control:
    loop_var: account
    label: "{{ account.name }}"
  tags:
    - accounts

- name: Ensure user accounts are unavailable
  ansible.builtin.include_tasks: account_disable.yml
  args:
    apply:
      tags:
        - accounts
  loop: "{{ user_accounts_delete }}"
  loop_control:
    loop_var: account
    label: "{{ account.name }}"
  tags:
    - accounts
