---
- name: "Ensure authorized_keys is available for user {{ account.name }}"
  authorized_key:
    user: "{{ account.name }}"
    key: "{{ account.ssh_authorized_keys.pubkeys | join('\n') }}"
    manage_dir: no
    exclusive: "{{ account.ssh_authorized_keys.exclusive | default('no') }}"
  when:
    - current_user.home is defined
