---
- name: "Ensure ssh client config is available for user {{ account.name }}"
  copy:
    content: "{{ account.ssh_config }}"
    dest: "{{ current_user.home }}/.ssh/config"
    owner: "{{ account.name }}"
    group: "{{ current_primary_group }}"
    mode: '0600'
  when:
    - current_user.home is defined
