---
- name: "Ensure ssh client config is available for user {{ account.name }} (from template)"
  template:
    src: "{{ account.ssh_config_template }}"
    dest: "{{ current_user.home }}/.ssh/config"
    owner: "{{ account.name }}"
    group: "{{ current_user.group }}"
    mode: '0600'
  when:
    - current_user.home is defined
