---
- name: "Ensure private keys are available for user {{ account.name }}"
  copy:
    content: "{{ item.content }}"
    dest: "{{ current_user.home }}/.ssh/{{ item.dest }}"
    owner: "{{ account.name }}"
    group: "{{ current_primary_group }}"
    mode: "{{ current_user.mode | default('0400') }}"
  no_log: true
  loop: "{{ account.ssh_private_keys }}"
  when:
    - current_user.home is defined
    - item.content|length > 0
